.container {
    height: 100%;
    width: 100%;
    border: 2px solid blue;
}
#main-content {
    width: 100%;
    height: 100%;
}

#health-display {
    position: relative;
    width: 48%;
    height: 700px;
    border: 2px solid lightblue;
    float: left;
    display: flex;
    flex-direction: row;
}
#task-list-display {
    width: 48%;
    height: 700px;
    border: 2px solid teal;
    float: right;
}
#task-list {
    height: 100%;
}
.task-list-item {
    border: 2px solid yellow;
    height: calc(100%/6);
    width: 100%;  
}
#happiness-meter {
    height: 600px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.happiness-bar-container {
    width: 100px;
    height: 10px;
    background-color: red;
}
#social-meter {
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0px;
    left: 101px;
}

.social-bar-container {
    width: 100px;
    height: 10px;
    background-color: yellow;
}
#work-meter {
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0px;
    left: 202px;
}

.work-bar-container {
    width: 100px;
    height: 10px;
    background-color: blue;
}

#hunger-meter {
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 0px;
    left: 300px;
}

.hunger-bar-container {
    width: 100px;
    height: 10px;
    background-color: green;
}
.hidden {
    display: none;
}